<h1>About me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "pexels-photo-685526.jpeg", width: 300, alt: "some image" %>
	</div>

	<div class="col-md-8">
		<p>I'm a guy learning how to bulid web apps using RonR.</p>
	</div>
</div>
