<div class="inner cover">
    <h1 class="cover-heading">Wellcome.</h1>
    <p class="lead">This is a profile site built as a part of RonR tutorial on Udemy.</p>
    <p class="lead">
      	<%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>